{% extends 'transport/base.html' %}

{% block content %}
<div class="card">
    <h2>Frequently Asked Questions</h2>
    <ul>
        <li>
            <strong>How do I request transport?</strong>
            <p>To request transport, log in to your account, navigate to the 'Schedule' page, select direction , and choose your preferred time.</p>
        </li>
      
        <li>
            <strong>How do I cancel a transport request?</strong>
            <p>To cancel a transport request, visit the 'Schedule' page, select your transport schedule, and click 'Cancel'.</p>
        </li>
        <!-- Add more questions as needed -->
    </ul>
</div>
{% endblock %}
